extends layout

block content
    br
    h3 Post Add
    form(method="POST",action="/list/add")
        #form-group
            label Title:
            input.form-control(name="title",type="text")
        #form-group
            label Details:
            textarea.form-control(name="body" ,rows="10")
        br
        input.btn.btn-primary(type="submit",value="Submit")