extends layout

block content
    br
    h3 Edit Add 
    form(method="POST",action="/list/edit/"+item._id)
        #form-group
            label Title:
            input.form-control(name="title",type="text" value=item.title)
        #form-group
            label Body:
            textarea.form-control(name="body" ,rows="10" )=item.body
            br
            input.btn.btn-primary.float-right(type="submit",value="Save")