extends layout

block content
    h1 #{title}
    ul.list-group 
        each list_item in list_items
            li.list-group-item
                a(href="/list/item/"+list_item.id)= list_item.title
            
        
        
    