extends layout

block content

    h1= item.title
    h5 Posted by #{author}
    p= item.body
    if user 
        if user.id == item.author
            a.btn.btn-dark(href='/list/item/edit/'+item._id) Edit
            a.btn.btn-danger.delete-item(href='#',data-id=item._id) Delete
